.contenedor_oferta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.texto_titulo_boton{
    text-align: center;
    width: 80%;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    padding: 25px 0px 25px 0px;
    margin: 0 auto;
    color: black;
}

.texto_subtitulo_boton{
    text-align: center;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 auto;
    color: black;
    padding-bottom: 25px;
}

.contenedor_boton{
    border: solid #04990c 2px;
    width: 90%;
    padding: 25px 0px;
    height: 100%;
}

.precio_titulo{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    color: #a1a1a1;
}

.precio{
    text-align: center;
    width: 100%;
    padding: 33px;
    font-size: 60px;
    font-weight: 700;
    margin: 0 auto;
    color: black;
}

.boton_compra{
    text-align: center;
    background-color: #04990c;
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 6px;
}

.enlace_boton_compra{
    text-align: center;
}

.texto_boton{
    text-align: center;
    font-size: 30x;
    font-weight: 700;
    color: #ffff;
}

.subtitulo_boton{
    text-align: center;
    font-size: 10x;
    font-weight: 400;
    color: #ffff;
}
