.elementor-592 .elementor-element.elementor-element-ddfdbd9:not(.elementor-motion-effects-element-type-background), .elementor-592 .elementor-element.elementor-element-ddfdbd9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    margin-top: 20px;
}

.elementor-592 .elementor-element.elementor-element-4c4de29 .elementor-image-box-description{
    margin-top: -18px;
}

.elementor-592 .elementor-element.elementor-element-f9816f9 .elementor-image-box-description{
    margin-top: -18px;
}

.elementor-592 .elementor-element.elementor-element-4c4de29 .elementor-image-box-img img{
    margin-top: 21px;
}

